*{
    margin: 0%;
    padding: 0%;
}
body{
     background-color:black;
     display: flex;
     place-items: center;
     height: 100vh;
     
}
main{
    display:grid;
    grid-template-areas:
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e'
    ;
    gap: 20px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 2em;
    text-align: center;
    border-radius: 0px;
    
}

.item-a{
    background-color: rgb(255, 0, 0);
    grid-area: a;
    
}
.item-b{
    background-color: #ff5e00;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;
}
.item-d{
    background-color: rgb(18, 127, 170);
    grid-area: d;
}
.item-e{
    background-color:rgb(18, 127, 170) ;
    grid-area: e;
}